<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.git.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.qf.git.entity.Teacher">
    <id column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
    <result column="t_age" jdbcType="INTEGER" property="tAge" />
    <result column="t_sex" jdbcType="VARCHAR" property="tSex" />
    <result column="t_sort" jdbcType="VARCHAR" property="tSort" />
  </resultMap>
  <sql id="Base_Column_List">
    t_id, t_name, t_age, t_sex, t_sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where t_id = #{tId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where t_id = #{tId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.git.entity.Teacher">
    insert into teacher (t_id, t_name, t_age, 
      t_sex, t_sort)
    values (#{tId,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR}, #{tAge,jdbcType=INTEGER}, 
      #{tSex,jdbcType=VARCHAR}, #{tSort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.git.entity.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="tName != null">
        t_name,
      </if>
      <if test="tAge != null">
        t_age,
      </if>
      <if test="tSex != null">
        t_sex,
      </if>
      <if test="tSort != null">
        t_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tName != null">
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tAge != null">
        #{tAge,jdbcType=INTEGER},
      </if>
      <if test="tSex != null">
        #{tSex,jdbcType=VARCHAR},
      </if>
      <if test="tSort != null">
        #{tSort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.git.entity.Teacher">
    update teacher
    <set>
      <if test="tName != null">
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tAge != null">
        t_age = #{tAge,jdbcType=INTEGER},
      </if>
      <if test="tSex != null">
        t_sex = #{tSex,jdbcType=VARCHAR},
      </if>
      <if test="tSort != null">
        t_sort = #{tSort,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.git.entity.Teacher">
    update teacher
    set t_name = #{tName,jdbcType=VARCHAR},
      t_age = #{tAge,jdbcType=INTEGER},
      t_sex = #{tSex,jdbcType=VARCHAR},
      t_sort = #{tSort,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=INTEGER}
  </update>
</mapper>